@import "file:////Users/xpy/Coding/cmcqa/node_modules/.pnpm/vuepress-theme-hope@2.0.0-rc.99_markdown-it@14.1.0_sass-embedded@1.97.1_sass@1.97.1_vue_69f2b1e2757d14851923a1ff2d4bc4f3/node_modules/vuepress-theme-hope/templates/palette/config.scss";
@import "file:////Users/xpy/Coding/cmcqa/src/.vuepress/styles/config.scss";
